:root {
  --button-background: #560bad;
  --accent-text-color: #f72585;
  --answer-text-color: #adb5bd;
}

* {
  outline: 1px solid red;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  margin: 1% 5%;
}
nav a {
  text-decoration: none;
  color: var(--accent-text-color);

}.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  margin: 0 30%;
}

#instructions {
  display: flex;
  justify-content: center;
  margin: 0 10%;
}

p {
  text-align: center;
}

h1 {
  padding: 10px 20px;
}

#answer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} 

#countdown {
  margin-right: 20px;
}

.button {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  /* margin: 20px 0;
  padding: 5px 10px; */
  background: var(--button-background);
  color: white;
}
.button:hover {
  background-color: var(--accent-text-color);
}

#question-buttons-container {
  display: inline-block;
  
}

#question-buttons {
  display: flex;
  flex-direction: column;
}

/* .hide {
  display: none;
} */

